.glass{
  padding: 17px;
  border-radius: 15px;
  box-shadow:2px 2px 12px rgba(77, 77, 77, 0.1);
  background: rgba(37, 37, 37, 0.3);
  backdrop-filter: blur(4px);
}

.headerbanner{
  position: absolute;
  top: 40% ;
  width: 100%;
  display: flex;
  justify-content: center;
  color: white;
  z-index: 10;
}


/* Vue Transisiton */
.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

/* Loading Animation */
.sk-cube-wrapper{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #121212;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sk-cube-grid {
  width: 100px;
  height: 100px;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #ffffff;
  float: center;
  -webkit-animation: sk-cubeGridScaleDelay 2s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 2s infinite ease-in-out; 
}

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
            opacity: 0;
  } 35% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
            opacity: 1;
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
            opacity: 0;
  } 35% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
            opacity: 1;
  } 
}